<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Perfil</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mi Perfil.</h1>
        </div>
        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="perfil">Perfil
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="servicios">Servicios
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="productos">Productos
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="form">Contacto
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        <header>
            <img src="./img/foto_perfil.png" border=1 style="margin-top: 2em">
            <h1>Leandro Agustín Morales Arce</h1>
        </header>

        <section>
            <h2>Datos Personales</h2>

            <div class="row" style="margin-top: 2em">
                <div class="col-sm-6">
                    <h3>Información Personal</h3>
                    <p>DNI: 35.196.427</p>
                    <p>Fecha de nacimiento: 5/10/1990</p>
                    <p>Estado civil: Soltero</p>
                    <p>Domicilio: Barrio Jardin Barcala M-B C-5</p>
                    <p>Ciudad: Maipu, Mendoza</p>
                </div>
                <div class="col-sm-6">
                    <h3>Datos de Contacto</h3>
                    <p>E-mail: leomoralesarce@gmail.com</p>
                    <p>Teléfono: 0261 4811873</p>
                    <p>Celular: 0261 155901405</p>
                </div>
            </div>

            <h2>Experiencia Laboral</h2>
            <div class="row" style="margin-top: 2em">
                <div class="col-sm-6">
                    <h3>Soporte Técnico en FOCA SOFTWARE</h3>
                    <p>Jerarquía: Técnico, desde Noviembre 2017 hasta la Actualidad </p>
                    <p>Área: Tecnología / Sistemas</p>
                    <p>Sector > Rubro: Tecnología Y Comunicaciones / Software - Sistemas</p>
                </div>
                <div class="col-sm-6">
                    <h3>Administrativo en MAIPUMED S.A.</h3>
                    <p>Jerarquía: Empleado, desde Enero 2013 hasta Mayo 2013</p>
                    <p>Área: Administración Sector > Rubro: Salud / Hospital - Clínica</p>
                </div>
            </div>

            <h2>Educación</h2>
            <div class="row" style="margin-top: 2em">
                <div class="col-sm-6">
                    <h3>Tec. Sup. en Análisis y Programación</h3>
                    <p>Nivel: Terciario</p>
                    <p>Estado: En Curso (Marzo 2016 hasta Actualidad)</p>
                    <p>Institución: Instituto de Educación Superior Nº 9-023</p>
                </div>
                <div class="col-sm-6">
                    <h3>Técnico Electricista</h3>
                    <p>Nivel: Secundario</p>
                    <p>Estado: Graduado (Febrero 2003 hasta Diciembre 2009)</p>
                    <p>Institución: Escuela Técnico Industrial Emilio Civit 4-003</p>
                </div>
            </div>

            <div class="jumbotron text-center" style="margin-bottom:0">
                <footer class="mastfoot mt-auto">
                    <p>Copyright - Leandro Morales, todos los derechos reservados.</p>
                </footer>
            </div>
    </div>
</body>

</html>